<div class="post">
<!-- <div class="post"> -->
  <div class="row mt-5">
    <div class="col-10 offset-md-1" >
  <div class="row">
    <div class="col-4 bold" ><span>Timeline</span></div>
     <div class="col-8 d-flex justify-content-end">
       <a href=""><img  src="../../../assets/img/addicon.svg" width="18px" class="mb-1"></a>
       <a href=""><i class="ms-Icon ms-Icon--Filter font-17 ml-3 text-black"></i></a>
       <a href="" ><img class="ml-3 pb-1"src="https://img.icons8.com/pastel-glyph/64/000000/generic-sorting.png" width="18px"/></a>
       <a href=""><img src="https://img.icons8.com/windows/32/000000/menu-2.png" width="22px" class="mb-1 ml-3"/></a>
     </div>
     <div class="col-12">  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-12 bold mb-1">Create a Post</div>
    <div class="col-12">

   <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter a post.Use # to link a record and @ to mention a team member."></textarea>
      <div class="col-12 d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-primary mr-1 btn-sm ">Add Post</button>
                <button type="button" class="btn bg-white border-dark btn-sm" (click)="onClickCancel()">Cancel</button>
      </div>


</div>
</div>
</div>
  </div>
</div>
<!-- </div> -->
