<div class="appointment">
  <div class="row mt-4">
    <div class="col-8 bold m-2" ><span>Quick Create :Appointment</span></div>
    <div class="col-3   d-flex justify-content-end">
      <svg type="button"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
</svg>

     </div>
     </div>
    <div class="line2"></div>
  <div class="container ml-3">
   <div class="row w-100  mt-2 main_content">
          <div class="col-4 p-2 mt-1 "><span>Owner</span></div>
             <!-- <div class="col-8 blue p-2 pl-5 "><span class="hidespan"><i class="fa fa-user mr-2" aria-hidden="true"></i>Call #</span>
             </div> -->
             <div class="col-8 blue p-1 pl-5 "><span><input
              type="text"
              class="form-control "
              name=""
              placeholder="---"
            /></span>
          </div>
             <div class="line2"></div>
              <div class="col-4 bl p-2 mt-1"><span>Required Attendees</span></div>
             <!-- <div class="col-8 blue p-1 pl-5 "><span class="hidespan"><i class="fa fa-user mr-2" aria-hidden="true"></i>Sonu Saud</span>
             </div> -->
             <div class="col-8 blue p-1 pl-5 "><span><input
              type="text"
              class="form-control "
              name=""
              placeholder="---"
            /></span>
          </div>


               <div class="line2"></div>
                <div class="col-4 p-2 mt-1"><span>Optional Attendees</span></div>
             <div class="col-8 blue p-1 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>
                <div class="line2"></div>
                <div class="col-4 p-2 mt-1"><span>Subject</span></div>
             <div class="col-8 blue p-1 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>
               <div class="line2"></div>
                <div class="col-4 p-2 mt-1"><span>Location</span></div>
             <div class="col-8 blue p-2 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>



</div>
</div>
<div class="line2"></div>

    <div class="col-12 bold mt-5 mb-2" ><span>APPOINTMENT DETAILS</span></div>
    <div class="line2"></div>
    <div class="container ml-3">
   <div class="row w-100  mt-2 main_content">
          <div class="col-4 p-2 mt-3 "><span class="mt-4">Start Time</span></div>
             <div class="col-6 blue p-2 pl-5"><div> <input  type="date" id="date" name="birthday" class="w-100 border-0"></div>
             <div>  <input type="time" id="appt" name="appt" class="mt-2 w-100"></div>
             </div>
             <div class="line2"></div>
           <div class="col-4 p-2 mt-3 "><span>End Time</span></div>
             <div class="col-6 blue p-2 pl-5"><div> <input  type="date" id="date" name="birthday" class="w-100 border-0"></div>
             <div>  <input type="time" id="appt" name="appt" class="mt-2 w-100"></div>
             </div>
               <div class="line2"></div>
                <div class="col-6 p-2 mt-2 "><span>All Day Event</span></div>
             <div class="col-5 pt-2 "> <span><input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" ></span>
             </div>

                <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Duration</span></div>
             <div class="col-5 blue p-2 pl-4 ">
                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>30 minutes</option>
  <option value="1">15 minutes</option>
  <option value="2">10 minutes</option>
</select>
             </div>
               <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Description</span></div>
             <div class="col-8 blue p-1 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>


             <div class="line2"></div>
</div>

</div>

<button class="btn btn-primary m-3"> Submit</button>
</div>


