
<div class="post bg-white">
  <div class="row">
    <div class="col-12 ">
  <div class="row mt-4">
    <div class="col-8 bold m-1" ><span>Quick Create: Phone Call</span></div>
     <div class="col-3   d-flex justify-content-end">
      <svg type="button" (click)="onClickCancel()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
  <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
</svg>

     </div>


  </div>
   <div class="row w-100 border ml-1 mt-2 main_content">
          <div class="col-4 p-2 "><span>Owner</span></div>
             <div class="col-8 blue p-2 pl-5 ">
              <span><input
                type="text"
                class="form-control "
                name=""
                placeholder="---"
             
                 [autofocus]
              /></span>
             </div>
             <div class="line2"></div>
              <div class="col-4 bl p-2 mt-2"><span>Subject</span></div>
             <div class="col-8 blue p-2 pl-5 "><span><input
              data-bs-focus="false" aria-hidden="true" tabindex="-1"

                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"

                          /></span>
             </div>

               <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Call From</span></div>
             <div class="col-8 blue p-2 pl-5 ">
              <span><input
                type="text"
                class="form-control "
                name=""
                placeholder="---"
              /></span>
             </div>
                <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Call To</span></div>
             <div class="col-8 blue p-2 pl-5 ">
              <span><input
                type="text"
                class="form-control "
                name=""
                placeholder="---"
              /></span>
             </div>
               <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Direction</span></div>
             <div class="col-8 p-2 pl-5 ">
               <span>Outgoing</span>
             </div>



</div>
</div>
    <div class="col-12">
  <div class="row mt-4">
    <div class="col-12 bold m-1" ><span>DESCRIPTION</span></div>



  </div>
   <div class="row w-100 border ml-1 mt-2 main_content">
            <div class="col-4 bl p-2 mt-2"><span>Phone Number</span></div>
             <div class="col-8 blue p-2 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>
             <div class="line2"></div>
          <div class="col-4 bl p-2 mt-2"><span>Description</span></div>
             <div class="col-8 blue p-2 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>
               <div class="line2"></div>


                <div class="line2"></div>
                <div class="col-4 p-2"><span>Duration</span></div>
             <div class="col-5 blue p-2 pl-3 ">
                <select class="form-select form-select-sm w-100" aria-label=".form-select-sm example">
  <option selected>30 minutes</option>
  <option value="1">15 minutes</option>
  <option value="2">10 minutes</option>
</select>
             </div>
               <div class="line2"></div>
                <div class="col-4 p-2 mt-2"><span>Due</span></div>
             <div class="col-8 blue p-2 pl-5 "><span><input
                            type="text"
                            class="form-control "
                            name=""
                            placeholder="---"
                          /></span>
             </div>
                <div class="col-4 p-2 mt-2"><span>Priority</span></div>
             <div class="col-8 p-2 pl-5 ">
               <span>Normal</span>
             </div>
              <div class="col-4 p-2 mt-2"><span>Regarding</span></div>
             <div class="col-8 blue p-2 pl-5 ">
              <span><input
                type="text"
                class="form-control "
                name=""
                placeholder="---"
              /></span>
             </div>



</div>
</div>
  </div>
</div>



