<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div class="Wrapper" >
    <div class="leftsidebar" style="float: left;margin-top: 1ch;">
      <a href="">
      <img src="../../../assets/icons/back.png" width="35vh" id="backIcon"></a>
    </div>
    <div class=" centerWrapper" style="float :left">
      <div class="centertopicon" style="float: left;">
        <div style="float: left;margin-left: 35%;margin-top: 1ch;">
          <a href="">
            <img src="../../../assets/icons/EditPencil.png" width="30vh" id="backIcon" ></a>
        </div>
        <div style="float: left;margin-left: 3ch;margin-top: 1ch;">
          <a href="">
            <img src="../../../assets/icons/blueplus.png" width="30vh" id="backIcon" ></a>
        </div>
        <div style="float: left;margin-left: 3ch;margin-top: 1ch;">
          <a href="">
            <img src="../../../assets/icons/bluedelete.png" width="30vh" id="backIcon" ></a>
        </div>
      </div>

      <div class="titlename" style="float:left;">Compaign Card</div>
      <div class="navigatedownline" style="float:left"><hr></div>
      <div class="navigation">
      <div class="compaign" style="float: left;"><a href="#" id="navigationhyperlink" >Compaign</a></div>
      <div class="compaign" style="float: left;"><a href="#" id="navigationhyperlink">Navigate</a></div>
      <div class="compaign" style="float: left;"><a href="#"id="navigationhyperlink">Price&Count</a></div>
      <div class="compaign" style="float: left;"><a href="#" id="navigationhyperlink">| More Options</a></div>
      <div style="float: right;margin-top: 0.5ch;"><a href="">
        <img src="../../../assets/icons/information.png" width="22vh" id="backIcon"  ></a></div>
    </div>
      <div class="navigatedownline" style="float:left"><hr></div>

    <div class="titlegeneral" style="float: left;">General</div>
    <div class="pagepartitionwrapper" style="display:flex">
    <hr style="display: block;">
    <div class="formpage">

     <form  >
       <br>
       <br>
       <div class="row">
       <div class="col-md-5"   >
         <label>No</label><input type="text" formControlName="no"  class="Date" style="margin-left: 13ch;width: 44%;margin-bottom: 1.5ch;"><button>...</button></div>
       <div class="col-md-5"> <label >Starting Date</label><input type="date" formControlName="startingDate" class="Date" style="margin-left: 4.8ch;margin-bottom: 1.5ch;"></div>
       </div>

       <div class="row">
        <div class="col-md-5"><label>Description</label><input type="text" formControlName="description" class="Date"style="margin-left:6.2ch;margin-bottom: 1.5ch;"></div>
       <div class="col-md-5"><label >Salesperson Code</label><select formControlName="salePersonCode" class="Date" style="margin-left: 1ch ;margin-bottom: 1.5ch;">
         <option value="">1</option>
         <option value="">2</option>
         <option value="">3</option>
         <option value="">4</option>
         <option value="">5</option>
       </select></div>

        </div>

        <div class="row">
          <div class="col-md-5"><label>Status Code</label><input type="text" formControlName="statusCode" class="Date"style="margin-left: 6ch;margin-bottom: 1.5ch;"></div>
       <div class="col-md-5"><label >Last Date Modified</label><input readonly="true" type="text" formControlName="lastDateModified" class="Date" style="margin-left: 0.4ch;margin-bottom: 1.5ch;"></div>
          </div>

          <div class="row">
            <div class="col-md-5"><label>Ending Date</label><input type="date" formControlName="EndingDate" class="Date"style="margin-left: 5.8ch;margin-bottom: 1.5ch;"></div>
       <div class="col-md-5"><label >Activate</label ><label class="switch" style="margin-left: 9.4ch;">
        <input type="checkbox">
        <span class="slider round"></span>
      </label></div>
            </div>
            </form>
            <br>
     <br>
     <br>
     <p style=" font-size: 4mm;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: bold;">Invoicing</p>
     <form>
     <div class="row">


        <div class="col-md-5"><label>Department Code</label><select formControlName="salesPersonCode" class="Date" style="margin-left: 4.2ch;margin-bottom:1.5ch ;">
         <option value="">1</option>
         <option value="">2</option>
         <option value="">3</option>
         <option value="">4</option>
         <option value="">5</option>
       </select></div>
       <div class="col-md-5"><label>CoustomerGroup Code</label><select formControlName="coustomerGroupCode" class="Date" >
         <option value="">1</option>
         <option value="">2</option>
         <option value="">3</option>
         <option value="">4</option>
         <option value="">5</option>
       </select></div>


     </div>
    </form>
    </div>
    <div class="notespage" style="float: left;"><div style="float: left;">Notes</div><div style="float: left;"><a href="">
      <img src="../../../assets/icons/plus-60.png" width="22vh" id="backIcon" ></a></div></div>
    </div>
    </div>


    <div class="rightsidebar" style="float: left;">
      <a href="">
        <img src="../../../assets/icons/boxArrow.PNG" width="22vh" id="backIcon" style="margin-top: 1ch;"></a>
        <a href="">
          <img src="../../../assets/icons/pointarrow.png" width="20vh" id="backIcon" style="margin-top: 1ch;"></a>
    </div>
  </div>

  </body>
</html>
