<div>
  <div class="page-wrapper">
    <!-- Page Content -->
    <div class="content container-fluid">
         <div>
        <nav style="display: inline-block" id="customer">
          <a
            class="nav-link"
            role="heading"
            aria-level="2"
            class="Opppertunites"
            id="navigationBarRowControlTitle46"
            title="Customers"

          >
            Opportunites
          </a>


          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Items I'm following</a>
            <a class="dropdown-item" href="#">All Completed Tasks</a>
            <a class="dropdown-item" href="#">My Delegated Tasks</a>
            <a class="dropdown-item" href="#">My Completed Tasks</a>
            <a class="dropdown-item" href="#">My Open Tasks</a>
            <a class="dropdown-item" href="#">My Tasks</a>
            <a class="dropdown-item" href="#">All Tasks</a>
          </div>
        </nav>

        <div class="d-inline-block">
          <div
            class="d-inline-block"
            role="heading"
            aria-level="2"
            title="all"
            class="dropdown"
          >
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Recently Viewed</a
              ><a href="#" class="dropdown-item">Items I'm following</a
              ><a href="#" class="dropdown-item">All Contacts</a
              ><a href="#" class="dropdown-item"
                >Contacts added in the last 24 hours</a
              ><a href="#" class="dropdown-item"
                >Contacts added in the last 7 days</a
              ><a href="#" class="dropdown-item"
                >Contacts with no notes in the last month</a
              ><a href="#" class="dropdown-item"
                >Contacts with no notes in the last 7 days</a
              >
            </div>

            <div class="nav" style="display: inline-block">
              <nav class="nav" id="mainnav">
                <a
                  class="nav-link"
                  data-toggle="modal"
                  data-target="#new-user"
                  href="#"
                >
                  <span>
                    <!-- <img src="../../../assets/icons/plus.png" width="15vh" /> -->
                    <img
                      src="../../../assets/img/addicon.svg"
                      width="12px"
                      class="mb-1"
                    />
                  </span>
                  <span style="margin-left: 3px">New</span></a
                >
                <a
                  class="nav-link"
                  href="#"
                  data-toggle="modal"
                  data-target="#delete-user"
                  id="delete"
                >
                  <span>
                    <!-- <img src="../../../assets/icons/bin.png" width="17vh" /> -->
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </span>
                  <span style="margin-left: 3px">Manage</span></a
                >
                <a
                  class="nav-link d-sm-none d-md-none d-lg-block d-xl-block"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  tabindex="0"
                  id="process"
                  role="button"
                >
                  <span style="padding-left: 3px">Process</span>
                  <span><i class="fa fa-angle-down fa-lg ml-1"></i></span>
                  <div class="dropdown-menu" id="dropdown">
                    <a href="#" class="dropdown-item"
                      >Register Customer Payments</a
                    ><a href="#" class="dropdown-item">Sent Email</a>
                  </div>
                </a>

                <a class="nav-link d-none d-md-none d-lg-block d-xl-block">
                  <span
                    class="dropdown2"
                    type="button"
                    id="report"
                    data-toggle="dropdown"
                    aria-expanded="false"
                    tabindex="1"
                  >
                    <span> </span>
                    <span style="padding-left: 2px">Report</span>
                    <span><i class="fa fa-angle-down fa-lg ml-1"></i></span>
                  </span>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a href="#" class="dropdown-item"
                      >Customer - Order Summary</a
                    ><a href="#" class="dropdown-item">Customer - Sales List</a>
                  </div>
                </a>

                <a class="nav-link d-none d-md-none d-lg-block d-xl-block">
                  <span
                    class="dropdown3"
                    type="button"
                    id="newDocument"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span style="padding-left: 2px">New Doc</span>
                    <span><i class="fa fa-angle-down fa-lg ml-1"></i></span
                  ></span>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a href="#" class="dropdown-item">Sales Quote</a
                    ><a href="#" class="dropdown-item">Sales Invoice</a>
                    <a href="#" class="dropdown-item">Sales Order</a
                    ><a href="#" class="dropdown-item">Sales Credit Memo</a>
                    <a href="#" class="dropdown-item">Reminder</a>
                  </div>
                </a>
                <a class="nav-link d-none d-md-none d-lg-none d-xl-block">
                  <span
                    class="dropdown4"
                    type="button"
                    id="customer"
                    data-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <span>Navigate</span>
                    <span><i class="fa fa-angle-down fa-lg ml-1"></i></span
                  ></span>

                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a href="#" class="dropdown-item">Ledger Entries</a
                    ><a href="#" class="dropdown-item">Statistics</a>
                    <a href="#" class="dropdown-item">Comments</a
                    ><a href="#" class="dropdown-item">Approvel</a>
                    <a href="#" class="dropdown-item">item References</a>
                  </div>
                </a>
                <a class="nav-link">
                  <span id="more"><i class="ms-Icon ms-Icon--More"></i></span>
                </a>
              </nav>
            </div>
          </div>
        </div>
        <div class="icons float-right mt-2" style="display: inline-block">
          <ul
            class="icon"
            style="display: inline-block; margin: 0; color: #505c6d"
          >
            <li class="" href="">
              <span
                class="dropdown"
                type="button"
                id="dropdownMenuButton1"
                data-toggle="dropdown"
                aria-expanded="false"
                ><i
                  class="ms-Icon ms-Icon--Share"
                  aria-hidden="true"
                  title="Share the page with other user"
                ></i
              ></span>
            </li>

            <li class="" href="">
              <span
                class="dropdown"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false" (click)='enableFilter()'
              >
                <i
                  id="filter"
                  class="ms-Icon ms-Icon--Filter"
                  aria-hidden="true"
                  title="Show pane"
                ></i>
              </span>
            </li>

            <li
              href=""
              class="dropdown"
              type="button"
              id="dropdownMenuButton1"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i
                class="ms-Icon ms-Icon--GlobalNavButton"
                aria-hidden="true"
                CollapseMenu
                title="View Layouts Options"
              ></i>
            </li>

            <li
              href=""
              class="dropdown"
              type="button"
              id="dropdownMenuButton1"
              data-toggle="dropdown"
              aria-expanded="false"
            >
              <i
                class="ms-Icon ms-Icon--Info"
                aria-hidden="true"
                title="Collapse the Factbox pane"
              ></i>
            </li>

            <li
              class="dropdown"
              type="button"
              id="dropdownMenuButton1"
              data-toggle="dropdown"
              aria-expanded="false"
              href=""
            >
              <i
                class="ms-Icon ms-Icon--FullScreen"
                aria-hidden="true"
                title=" Show wide Layouts View"
              ></i>
            </li>

            <li
              class="dropdown"
              type="button"
              id="dropdownMenuButton1"
              data-toggle="dropdown"
              aria-expanded="false"
              href=""
            >
              <i
                class="ms-Icon ms-Icon--SingleBookmark"
                title="Add Bookmark to your Role Center"
              ></i>
            </li>
          </ul>
        </div>
      </div>
         <div class="line"></div>

        <div class="row w-100">
          <div
            class="filter col-1 col-md-1 mr-lg-3 pr-1 filter_row"
            style="background-color: white; display: none" [ngStyle]="{'display':handleDisplay}"
          >
            <i class="ms-Icon ms-Icon--Filter"></i>
          </div>
          <div class="tablemain  col-11 col-md-9">
            <div class="mb-3 d-inline-block mt-1">
              <img
                src="../../../assets/icons/dashboard.png"
                width="20px"
                class="mr-2"
              />Dashboard / Oppertunites
            </div>
            <div class="mb-1">
              <span style="font-size: 16px; font-weight: 600"
                >Standard View</span
              >
              <i class="fa fa-angle-down fa-lg ml-1"></i
              ><span class="ml-3">
                <input type="search" id="query" name="q" placeholder="Search" />
              </span>
            </div>

            <div
              class="table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar w-100"
              id="table"
            >
              <div class="card">
                <div class="card-body">
                  <div class="table-responsive text-nowrap">
                    <table class="table table-sm w-100">
                      <thead>
                        <tr>
                          <th >
                           N0
                          </th>
                          <th >Creation Date</th>
                          <th >Description</th>
                          <th >Contact No</th>
                          <th >Salesperson Code</th>
                        </tr>
                      </thead>

                      <tbody>
                         <tr *ngFor="let fees of lstFees; let i = index">


                          <td>

                            <a
                              style="color: black"
                              href="#"
                              data-toggle="modal"
                              data-target="#system-user"
                              >{{ fees.NO }}</a
                            >
                          </td>

                          <td>{{ fees.CreationDate }}</td>
                          <td>
                            {{ fees.Description }}
                          </td>
                          <td>{{ fees.contact }}</td>
                           <td>{{ fees.Sales }}</td>
                          <td>
                            <!-- <span class="badge badge-gradient-success">{{
                            fees.taglist
                          }}</span> -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="rightsidebar col-12 col-md-3" style="background-color: white">
            <div class="row mt-2">
           <span class="opportunity_Statistics">Opportunity Statistics</span>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-10 head1"><span>No. of Interactions</span></div>
                  <div class="col-md-2 head2"><p>1</p></div>
                  <div class="col-md-10 head1"><span>Current Sales Cycle Stage</span></div>
                  <div class="col-md-2 head2"><p>-</p></div>
                  <div class="col-md-10 head1"><span>Estimated Value (LCY)</span></div>
                  <div class="col-md-2 head2"><p>0.00</p></div>
                  <div class="col-md-10 head1"><span>Chances of Success %</span></div>
                  <div class="col-md-2 head2"><p>0</p></div>
                  <div class="col-md-10 head1"><span>Completed %</span></div>
                  <div class="col-md-2 head2"><p>0</p></div>
                      <div class="col-md-10 head1"><span>Probability %</span></div>
                  <div class="col-md-2 head2"><p>0.0</p></div>
                       <div class="col-md-10 head1"><span>Calcd. Current Value (LCY)</span></div>
                  <div class="col-md-2 head2"><p>0.00</p></div>
                </div>
              </div>
            </div>

            <!-- /Content End -->
          </div>
        </div>


        </div>
        <div
          class="modal right fade"
          id="system-user"
          tabindex="-1"
          role="dialog"
          aria-modal="true"
        >
          <div class="modal-dialog" role="document">
            <button
              type="button"
              class="close md-close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-content">
              <!-- General navbar -->
              <div class="generalNavbar">
                <div class="iconbackward">
                  <a href="#"
                    ><img
                      src="../../../assets/img/back.png"
                      width="30px"
                      class="ml-3"
                    />
                  </a>
                </div>
                <span class="ml-3 mt-2">Opportunites Card</span>
                <i class=""></i>

                <div class="navbaritem">
                  <ul>
                    <li>
                      <a href=""
                        ><i
                          class="ms-Icon ms-Icon--Edit font-18 icon-color-1--minflat hideicon"
                        ></i
                      ></a>
                    </li>
                    <li>
                      <a href=""
                        ><i
                          class="ms-Icon ms-Icon--Share font-16 icon-color-1--minflat hideicon"
                        ></i
                      ></a>
                    </li>
                    <li>
                      <a href=""
                        ><i
                          class="ms-Icon ms-Icon--Add font-16 icon-color-1--minflat hideicon"
                        ></i
                      ></a>
                    </li>
                    <li>
                      <a href=""
                        ><i
                          class="ms-Icon ms-Icon--Delete font-16 icon-color-1--minflat hideicon"
                        ></i
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div>
                <span class="modal_head mb-2">OP000001 ∙ Outgoing phone call</span>
              </div>
              <!-- End General navbar -->
              <!-- Specific navbar -->

              <!-- <div _ngcontent-ver-c27="" class="line"></div> -->
 <div class=" mt-2 mr-4 ml-4 line" style="background: #d3d6da"></div>
               <div class="spedificNavbar">
                <ul>
                  <li>
                 <a href=""class="middle">Process</a>
                  </li>
                  <li>
                  <a href=""class="middle">Opportunites</a>
                  </li>

                  <li>
                    <a href=""class="middle">Action</a>

                  </li>
                  <li>
                  <a href=""class="middle">Related</a>
                  </li>
                    <li>
                  <!-- <a class="middle">Activity</a> -->

  <a class="middle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Activity
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" data-dismiss="modal"[routerLink]="['/appointment']">Appointment</a>
    <a class="dropdown-item"  data-dismiss="modal"[routerLink]="['/Activity_email']">Email</a>
    <a class="dropdown-item"  data-dismiss="modal" [routerLink]="['/phoneCall']">Phone Call</a>
    <a class="dropdown-item"  data-dismiss="modal" [routerLink]="['/task']">Task</a>

    <a class="dropdown-item"  data-dismiss="modal"[routerLink]="['/note']">Note</a>
    <a class="dropdown-item"  data-dismiss="modal" [routerLink]="['/post']">Post</a>
  </div>

                  </li>




                </ul>
              </div>
                <button
                      type="button"
                      data-dismiss="modal"
                      class="close xs-close"
                    >
                      ×
                    </button>

              <div class="mr-4 ml-4 line" style=" background: #d3d6da;"></div>

              <div class="whole">
                <div class="new  col-md-4 d-none d-md-block"  >
                  <div class="modal-header">

                    <div class="row w-100">
                      <!-- <div>

                          <a>

                              <span class="d-inline-block" ><img src="../../../assets/icons/info.png" width="20px"></span>
                             <span><h4 class="d-inline-block mt-2" style="color: black;">Details</h4></span> </a>

                              <a class="ml-5"><img src="../../../assets/icons/clip.png" width="20px"><h4 class="d-inline mt-1" style="color: black; margin-bottom: 2px;"> Attachments </h4></a>
                            </div> -->
                      <ul class="nav nav-tabs nav-tabs-justified mt-3 mb-3">
                        <li class="nav-item">
                          <a
                            type="button"
                            (click)="hideBlock()"
                            href="#task-details"
                            data-toggle="tab"
                            class="nav-link active"
                            ><img
                              src="../../../assets/icons/info.png"
                              width="20px "
                              style="margin-right: 6px"
                            />Details</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            type="button"
                            (click)="showBlocks()"
                            href="#task-related"
                            data-toggle="tab"
                            class="nav-link"
                          >
                            <img
                              src="../../../assets/icons/clip.png"
                              width="20px"
                              style="margin-right: 6px"
                            />Attachments(0)</a
                          >
                        </li>

                        <!-- <li class="nav-item">
                <a

                  type="button"
                  (click)="hideBlock()"
                  href="#task-news"
                  data-toggle="tab"
                  class="nav-link"
                  >News</a
                >
              </li> -->
                      </ul>

                  </div>
                  </div>



                  <div [style.display]="display2" class="blocks">
                    <span class="mt-4">(There is nothing to show in this view)</span>
                  </div>
                    <div [style.display]="display" class="blocks">


              <div class="card-body">
                <div class="row">
                   <span class="opportunity_Statistics mb-2">Statistics</span>
                  <div class="col-md-10 head1"><span>No. of Interactions</span></div>
                  <div class="col-md-2 head2"><p>1</p></div>
                  <div class="col-md-10 head1"><span>Current Sales Cycle Stage</span></div>
                  <div class="col-md-2 head2"><p>-</p></div>
                  <div class="col-md-10 head1"><span>Estimated Value (LCY)</span></div>
                  <div class="col-md-2 head2"><p>0.00</p></div>
                  <div class="col-md-10 head1"><span>Chances of Success %</span></div>
                  <div class="col-md-2 head2"><p>0</p></div>
                  <div class="col-md-10 head1"><span>Completed %</span></div>
                  <div class="col-md-2 head2"><p>0</p></div>
                      <div class="col-md-10 head1"><span>Probability %</span></div>
                  <div class="col-md-2 head2"><p>0.0</p></div>
                       <div class="col-md-10 head1"><span>Calcd. Current Value (LCY)</span></div>
                  <div class="col-md-2 head2"><p>0.00</p></div>
                </div>

                    </div>
                  </div>
                </div>
                <div class="new2 col-12 col-md-8">
                  <div class="modal-body">
                    <div class="task-infos">
                      <div class="tab-content">
                        <div id="task-details" class="tab-pane show active">
                          <div class="crms-tasks">
                            <div class="Inputs">
                              <div class="top">
                                <span class="model_Content_Entries " >General </span>
                              </div>
                              <div class="line mt-2"></div>
                              <div class="row row2 mt-2">
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab">Description</label
                                  ><input
                                    type="text"
                                    value="Outgoing phone call"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Salesperson Code</label
                                  ><input
                                    type="text"
                                    value="BC"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab">Contact No.</label
                                  ><input
                                    type="text"
                                    value="CT000023"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Sales Cycle Code</label
                                  ><input
                                    type="text"
                                    value="NEW"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                  <div class="col-md-6 my-1">
                                  <label for="" class="lab">Contact Name.</label
                                  ><input
                                    type="text"
                                    disabled
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>


                                 <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Status</label
                                  ><input
                                  disabled
                                    type="text"
                                    value="Not Started"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Mobile Phone No.</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Closed</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Email</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Creation Date</label
                                  ><input
                                  disabled
                                    type="text"
                                    value="4/12/2021"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Contact Company</label
                                  ><input
                                  disabled
                                    type="text"
                                    value="4/12/2021"
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Date Close</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Salesperson Code</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Segment No</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                                <div class="col-md-6 my-1">
                                  <label for="" class="lab ">Sales Document Type</label
                                  ><input
                                  disabled
                                    type="text"
                                    value=""
                                    aria-label="First name"
                                    name="no"
                                    ngmodel=""
                                    class="form-control special"
                                  />
                                </div>
                              </div>
                              <br>
                               <div class="top"  style = "background:#f6f7f8">

                              </div>

                              <div
              class="table-wrapper-scroll-y table-wrapper-scroll-x my-custom-scrollbar w-100"
              id="table"
            >
            <div class="model_Content_Entries  pl-2" style="color: rgb(80, 92, 109) ; height: 30px ;background:#f6f7f8; ">Sales Cycle Stage </div>

                <div class="table-responsive text-nowrap">





                  <table class="table w-100 " style = "background:#f6f7f8 ; height: 50vh;">




            <tbody class="Opportunites_table">

                  <tr style="height: 2rem;">

                <td scope="col">Action</td>

                <td scope="col"> Action Token</td>
                          <td>Sales Cycle Stage</td>

                            <td>Stage Description</td>
                             <td>Date of Change</td>
                              <td>Estimated Close Date</td>
                                <td>Estimated Value (LCY)</td>
                                   <td>Calcd. Current Value(LCY)</td>
                                     <td>Completed %</td>
                                         <td>Chance of Success %</td>
                                         <td>Probability %</td>
              </tr>
              <span class="line"></span>








            </tbody>
          </table>
          </div>
        </div>

                              <!-- <div

                          class="top"
                          style="margin-top: 37px"
                        >
                          <h2>Tag List</h2>
                        </div>
                        <div class="line"></div>
                        <div class="row row2">
                          <div class="col-md-6 my-1">
                            <label for="" class="lab"
                              >Tag List</label
                            ><input

                              type="text"
                              disabled=""
                              value="Lorem ipsum"
                              aria-label="First name"
                              name="no"
                              ngmodel=""
                              class="form-control special"
                            />
                          </div>
                        </div> -->
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- modal-content -->
          </div>
          <!-- modal-dialog -->
        </div>
        </div>
        </div>
